* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 32px;
}

.ptd-example .ptd-instance {
  max-width: 500px;
  margin: 0 auto;
}

.ptd-header-title,
.ptd-instance table {
  font-size: 24px;
}

.ptd-instance table {
  font-weight: 300;
  border-collapse: collapse;
  width: 100%;
}

.ptd-instance th,
.ptd-instance td {
  padding: 1rem;
}

.ptd-instance th {
  font-weight: bold;
}

.ptd-instance td {
  text-align: center;
  cursor: pointer;
}

.ptd-selected {
  background-color: teal;
  color: white;
  border-radius: 50%;
}

.ptd-today {
  background-color: #ddd;
  color: white;
  border-radius: 50%;
}

.ptd-previous {
  color: #bbb;
  cursor: default;
}

.ptd-header {
  margin: 0 12px 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ptd-header-title {
  font-weight: bold;
  margin: 0;
}

.ptd-go-previous,
.ptd-go-previous img,
.ptd-go-next {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.ptd-disabled {
  cursor: default;
}

.ptd-disabled img {
  display: none;
  cursor: default;
}

@media only screen and (max-device-width: 480px) {
  .ptd-example .ptd-instance {
    max-width: 100%;
  }

  .ptd-header-title,
  .ptd-instance table {
    font-size: 36px;
  }

  .ptd-header {
    margin: 0 36px 36px 36px;
  }

  .ptd-instance th,
  .ptd-instance td {
    padding: 2rem;
  }
}
